/* var.css */
:root {
  --vp-c-brand-1: #000000; /* 主品牌颜色 - 黑色 */
  --vp-c-brand-2: #000000; /* 较深的品牌颜色 - 白色 */
  --vp-c-brand-3: #CCCCCC; /* 较浅的品牌颜色 - 浅灰色 */
  }
  
  .dark {
    --vp-c-brand-1: #FFFFFF; /* 深色模式主品牌颜色 - 白色 */
    --vp-c-brand-2: #FFFFFF; /* 深色模式较深的品牌颜色 - 黑色 */
    --vp-c-brand-3: #CCCCCC; /* 深色模式较浅的品牌颜色 - 浅灰色 */
  }
  /* 以前的vp-c-brand已弃用 */
  
  :root {
    /* hero标题渐变色 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
      120deg,
      #34fe67,
      #41d1ff
    );
  
    /*hero logo背景渐变色 */
    --vp-home-hero-image-background-image: linear-gradient(
      -15deg,
      #ebbce4 50%,
      #f3b3ea 50%
    ); 
    --vp-home-hero-image-filter: blur(40px);
  }
  
  /* 提示框 */
.custom-block.tip {
  border-color: var(--vp-c-green-2);
}

/* 警告框 */
.custom-block.warning {
  /* border-color: #d97706; */
  border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
  /* border-color: #f43f5e; */
  border-color: var(--vp-c-red-2);
}
  /* 也可自行单独修改brand按钮 */
  :root {
    /* --vp-button-brand-border: #ffffff; */
    --vp-button-brand-text: #fff;
    --vp-button-brand-bg: #3AE7B2;
/*   
    --vp-button-brand-hover-border: #F6CEEC; */
    --vp-button-brand-hover-text: #000000;
    --vp-button-brand-hover-bg: #3AE7B2;
  
    --vp-button-brand-active-border: #F6CEEC;
  }